<!DOCTYPE html>
<html lang="en">
  {{template "head" .}}
  <body>
    {{template "header" .}}

    <main>

    <div class="page_title_wrapper">
      <div class="page_title">
        <h1>Topics</h1>
      </div>
    </div>

    <div class="page_content_wrapper">
      <table class="page_content_wrapper_in table table-striped table-hover">
        <thead>
          <tr>
            <th class="col-sm-*">Topic Title</th>
            <th class="col-sm-2 topics_list_messages">Messages</th>
            <th class="col-sm-2">Last Post</th>
          </tr>
        </thead>
        <tbody>
          {{range .Topics}}
          <tr>
            <td class="topics_list_title">
              <a href="{{$.APIBase}}/topics/{{ .TopicId }}" class="link_visited">{{ .Title }}</a><br/>
              <span class="topics_list_title_author">
                By
                <a href="{{$.APIBase}}/users/{{ .AuthorUsername }}" class="topics_list_title_author_hl">{{ .AuthorUsername }}</a>
                on
                <span class="topics_list_title_author_hl">{{ .CreatedAt }}</span>
              </span>
            </td>
            <td class="topics_list_messages">{{ .MessageCount }}</td>
            <td>
              <span class="topics_list_last">
                By
                <span class="topics_list_last_hl">
                  <a href="{{$.APIBase}}/users/{{ .LastAuthor }}">
                    {{ .LastAuthor }}
                  </a>
                </span>
                on<br/>
                <span class="topics_list_last_hl">{{ .LastTimestamp }}</span>
              </span>
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>

    {{template "pages" .}}

    {{if .HasUser}}
    <div class="new_topic_form_wrapper">
      <div class="new_topic_forum">
        <form method="POST" action="{{.APIBase}}/topics">
          <input class="form-control" name="title" placeholder="Title" type="text" required />
          <textarea class="form-control" name="message" placeholder="Message" required></textarea>
          <button type="submit" class="btn btn-primary submit_button" name="submit">Send</button>
        </form>
      </div>
    </div>
    {{end}}

    </main>

    {{template "footer" .}}
  </body>
</html>
