{{define "pages"}}
{{if gt $.PageMax 0}}
<div class="page_content_wrapper">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {{if gt $.PageNum 0}}
      <!-- First -->
      <li class="page-item">
        <a class="page-link" href="{{$.Path}}?page_size={{$.PageSize}}&page_num=0">
          First
        </a>
      </li>
      {{if gt (sub $.PageNum 1) 0}}
      <!-- Previous x 2 -->
      <li class="page-item">
        <a class="page-link" href="{{$.Path}}?page_size={{$.PageSize}}&page_num={{sub $.PageNum 2}}">
          {{sub $.PageNum 2}}
        </a>
      </li>
      {{end}}
      <!-- Previous -->
      <li class="page-item">
        <a class="page-link" href="{{$.Path}}?page_size={{$.PageSize}}&page_num={{sub $.PageNum 1}}">
          {{sub $.PageNum 1}}
        </a>
      </li>
      {{end}}
      <!-- Center -->
      <li class="page-item current-page-item">
        <a class="page-link" href="{{$.Path}}?page_size={{$.PageSize}}&page_num={{$.PageNum}}">
          {{$.PageNum}}
        </a>
      </li>
      {{if lt $.PageNum $.PageMax}}
      <!-- Next -->
      <li class="page-item">
        <a class="page-link" href="{{$.Path}}?page_size={{$.PageSize}}&page_num={{add $.PageNum 1}}">
          {{add $.PageNum 1}}
        </a>
      </li>
      {{if lt (add $.PageNum 1) $.PageMax}}
      <!-- Next x 2 -->
      <li class="page-item">
        <a class="page-link" href="{{$.Path}}?page_size={{$.PageSize}}&page_num={{add $.PageNum 2}}">
          {{add $.PageNum 2}}
        </a>
      </li>
      {{end}}
      <!-- Last -->
      <li class="page-item">
        <a class="page-link" href="{{$.Path}}?page_size={{$.PageSize}}&page_num={{$.PageMax}}">
          Last
        </a>
      </li>
      {{end}}
    </ul>
  </nav>
</div>
{{end}}
{{end}}
