<!DOCTYPE html>
<html lang="en">
  {{template "head"}}
  <body>
    {{template "header" .}}

    <main>

    <div class="page_title_wrapper">
      <div class="page_title">
        <h1>{{ .Title }}</h1>
      </div>
    </div>

    <div class="page_content_wrapper">
      <div class="page_content_wrapper_in">
        {{range .Messages}}
        <div class="container message_list_message">
          <div class="row">
            <div class="col-sm-2 message_list_author_info">
              <div class="message_list_author_info_name">
                <a href="/users/{{.AuthorUsername}}"
                {{if eq .AuthorUsertype "Administrator"}}
                class="text-warning"
                {{else if eq .AuthorUsertype "Moderator"}}
                class="text-info"
                {{else if eq .AuthorUsertype "Bot"}}
                class="text-success"
                {{end}}
                >{{.AuthorUsername}}</a>
                {{template "banned" .IsAuthorBanned}}
              </div>
              <div class="message_list_author_info_type">{{.AuthorUsertype}}</div>
              <div class="message_list_author_info_date">
                Posted on<br/>
                <span>{{.CreatedAt}}</span>
              </div>
              {{if or $.IsMod (eq .AuthorId $.UserInfo.Id)}}
              <div class="message_list_edit_bnt">
                <a href="/messages/{{.Id}}">Edit</a>
              </div>
              {{end}}
            </div>
            <div class="col-sm-10 message_list_author_message">
              <div class="message_list_author_message_text">
                {{template "bbcode_output" .MessageParagraphs}}
              </div>
                {{$length := len .SignatureParagraphs }}{{if eq $length 0}}
                <div class="message_list_author_message_sig">
                {{else}}
                <div class="message_list_author_message_sig message_list_author_message_sig_line">
                {{end}}
                {{template "bbcode_output" .SignatureParagraphs}}
                </div>
              </div>
            </div>
          </div>
          {{end}}
        </div>
      </div>

      {{template "pages" .}}

      {{if .HasUser}}
      <div class="new_message_wrapper">
        <div id="new_message" class="new_message">
          <form method="POST" action="/topics/{{ .TopicId }}">
            <input type="hidden" name="method" value="post" />
            <input type="hidden" name="message_id" value="" />
            <textarea class="form-control" name="message" placeholder="Message" required></textarea>
            <button type="submit" name="post" class="btn btn-default submit_button">Post</button>
            <button type="button" name="clear" class="btn btn-default">Clear</button>
          </form>
        </div>
      </div>
      {{end}}

    </main>

    {{template "footer" .}}
  </body>
</html>
