<!DOCTYPE html>
<html lang="en">
  {{template "head" .}}
  <body>
    {{template "header" .}}

    <main>

    <div class="page_title_wrapper">
      <div class="page_title">
        <h1>{{.Username}}{{template "banned" .IsBanned}}</h1>
      </div>
    </div>

    <div class="page_content_wrapper">
      <div class="page_content_wrapper_in user_info_user_type">
        {{.UserType}}
      </div>
    </div>

    <div class="page_content_wrapper">
      <div class="page_content_wrapper_in user_info_part">
        <h2>About</h2>
        <div id="user_info_about_form">
          <div id="user_info_about_text">{{template "bbcode_output" .AboutParagraphs}}</div>
          {{if or .IsSameUser .IsMod}}
          <form method="POST" action="{{.APIBase}}/users/{{.Username}}/about">
            <textarea class="form-control" name="about" placeholder="About" required>{{.About}}</textarea>
            <button type="submit" class="btn btn-primary">Save</button>
          </form>
          {{end}}
        </div>
      </div>
    </div>

    <div class="page_content_wrapper">
      <div class="page_content_wrapper_in user_info_part">
        <h2>Signature</h2>
        <div id="user_info_signature_form">
          <div id="user_info_signature_text">{{template "bbcode_output" .SignatureParagraphs}}</div>
          {{if or .IsSameUser .IsMod}}
          <form method="POST" action="{{.APIBase}}/users/{{.Username}}/signature">
            <textarea class="form-control" name="signature" placeholder="Signature" required>{{.Signature}}</textarea>
            <button type="submit" class="btn btn-primary">Save</button>
          </form>
          {{end}}
        </div>
      </div>
    </div>

    <div class="page_content_wrapper">
      <div class="page_content_wrapper_in user_info_part">
        <h2>Other Settings</h2>
        <ul>
        {{if .IsSameUser}}
        <li><a href="{{.APIBase}}/users/{{.Username}}/change_password">Change Password</a></li>
        {{else if .IsAdmin}}
        <li><a href="{{.APIBase}}/admin/users/{{.Username}}/change_password">Change Password</a></li>
        {{end}}

        {{if and .IsAdmin (eq .IsSameUser false)}}
          <li>
          {{if .IsBanned}}
            <a href="{{.APIBase}}/admin/users/{{.Username}}/unban">Unban User</a>
          {{else}}
            <a href="{{.APIBase}}/admin/users/{{.Username}}/ban">Ban User</a>
          {{end}}
          </li>
        {{end}}
        </ul>
      </div>
    </div>

    </main>

    {{template "footer" .}}
  </body>
</html>
