<!DOCTYPE html>
<html lang="en">
{{template "head"}}
<body>
    {{template "header" .}}

    <main>

    <div class="page_title_wrapper">
        <div class="page_title">
            <h1>{{.Username}}</h1>
        </div>
    </div>

    <div class="page_content_wrapper">
        <div class="page_content_wrapper_in user_info_user_type">
            {{.Usertype}}
        </div>
    </div>

    <div class="page_content_wrapper">
        <div class="page_content_wrapper_in user_info_part">
            <h2>About</h2>
            <div id="user_info_about_form">
                <div id="user_info_about_text">{{template "bbcode_output" .AboutParagraphs}}</div>
                <form method="POST" action="/users/{{.Username}}/about">
                    <textarea class="form-control" name="about" placeholder="About" required>{{.About}}</textarea>
                    <button type="submit" class="btn btn-default">Save</button>
                </form>
            </div>
        </div>
    </div>

    <div class="page_content_wrapper">
        <div class="page_content_wrapper_in user_info_part">
            <h2>Signature</h2>
            <div id="user_info_signature_form">
                <div id="user_info_signature_text">{{template "bbcode_output" .SignatureParagraphs}}</div>
                <form method="POST" action="/users/{{.Username}}/signature">
                    <textarea class="form-control" name="signature" placeholder="Signature" required>{{.Signature}}</textarea>
                    <button type="submit" class="btn btn-default">Save</button>
                </form>
            </div>
        </div>
    </div>

    <div class="page_content_wrapper">
        <div class="page_content_wrapper_in user_info_part">
            <h2>Change Password</h2>
            <div id="user_info_password_form">
                <form method="POST" action="">
                    <input class="form-control" name="password" placeholder="Password" type="password" required />
                    <input class="form-control" name="password2" placeholder="Confirm Password" type="password" required />
                    <button class="form-control btn btn-default" type="submit">Change</button>
                </form>
            </div>
        </div>
    </div>

    </main>

    {{template "footer"}}
</body>
</html>
